# Python - intro 101

## Lab 1 - Qué va a crear

En este desafío, creará un contador de calorías que solicita al usuario lo siguiente:

- La fecha actual (en cualquier formato)
- Calorías ingeridas en el desayuno
- Calorías ingeridas en la comida
- Calorías ingeridas en la cena
- Calorías ingeridas en tentempiés

Después, el programa sumará todas las calorías y les dará formato de mensaje.

In [ ]:
# Creamos las variables del contador
print("¿Qué día es hoy?")
date = input()
print("Calorias desayuno")
breakfast = int(input())
print("Calorias comida")
lunch = int(input())
print("Calorias cena")
dinner = int(input())
print("Calorias merienda")
snack = int(input())

In [ ]:
totalCal = breakfast + lunch + dinner + snack

In [ ]:
print("Calorias totales del día: " + date + " son: " + str(totalCal))


***

### Lab 2: Escribir código en el archivo nuevo para resolver el desafío

Escriba un programa corto que imprima un mensaje entre varios al usuario en función de su entrada.

En primer lugar, pregunte al usuario si quiere continuar o no.

Si el usuario responde con `no` o `n`, imprima la frase `Exiting`.

Obtenga la salida siguiente en este escenario de `no`. El usuario ha especificado `no` cuando se le solicitó.


```{pseudo-code}
output
Would you like to continue? no
Exiting
```


Si el usuario responde con `yes` o `y`, imprima la frase `Continuing ...` y `Complete!`.

Obtenga la salida siguiente en este escenario de `yes`. El usuario ha especificado `yes` cuando se le solicitó.

ResultadosCopiar

```output
Would you like to continue? yes
Continuing ...
Complete!
```

In [ ]:
respuesta = input("Quieres seguir?")

In [ ]:
if respuesta == 'yes' or respuesta == 'y':
    print("Continuing ...")
    print("Complete!")
elif respuesta == 'not' or respuesta == 'n':
    print("Exiting")
else:
    print("Intenta contestar nuevamente yes o not")

***
## Lab 3 - Convertidor Fahrenheit a Celsius

Escribir un programa que convierta la temperatura de Fahrenheit a Celsius

En este código se muestra la fórmula matemática para convertir una temperatura medida en grados Fahrenheit a una temperatura medida en grados Celsius:

Copiar

```
celsius = (fahrenheit - 32) * 5/9
```

Use esta fórmula para compilar un programa que solicite a los usuarios una temperatura en grados Fahrenheit, realice la conversión a Celsius y, después, muestre la temperatura en grados Celsius.

Si el usuario escribe el valor *55*, el programa debe generar este resultado:

ResultadosCopiar

```output
What is the temperature in fahrenheit?  55
Temperature in celsius is 12
```

Pero si el usuario escribe un valor no válido, el programa debe indicarle que hay un problema y, después, cerrar el programa. En este caso, si el usuario escribe el valor *Bob*, el programa debe generar este resultado:

ResultadosCopiar

```output
What is the temperature in fahrenheit?  bob
Input is not a number.
```

 Nota

Para comprobar el trabajo, use un conversor de temperatura en línea y confirme que el resultado del programa coincide con el del conversor.

Tanto si tiene dificultades y necesita echar un vistazo a la solución como si finaliza el ejercicio correctamente, continúe para ver una solución a este desafío.

## posible solución

In [ ]:
# Juan

### Función que realiza la conversión.

def Fahrenheit_to_celsius(Fah):
    
    Celsius = (Fah - 32) * 5/9 
    print(Celsius)
    
    
### Función que realiza la validación de los datos.

def validation(Temp_validation):    
 
    if Temp_validation == 'Bob'or Temp_validation == 'bob':
        print('{} input is not a number'.format(Temp_validation))
    else:
        try:
            int(Temp_validation)
        except ValueError:
            print('{} es un valor Incorrecto. Saliendo del programa'.format(Temp_validation))      
        Temp = int(Temp_validation)    
        Fahrenheit_to_celsius(Temp)

In [ ]:
Temp = input('Ibobntroduce una temperatura Fah')

validation(Temp)

In [ ]:
# Enrique



respuesta = input("What is the temperature in fahrenheit? ")
try:
    entero = int(respuesta)
    celsius = (int(respuesta) - 32)*5/9
    print("Temperatura in celsius is " + str(celsius))
except ValueError:                              
    print("No es un formato correcto")

In [ ]:
# Noelia
def caltem():
    #fahrenheit = int
    respuesta = (input("What is the temperature in fahrenheit?"))
    
    if type(int(respuesta)) is str:
        celsius = int((respuesta - 32) * 5/9)
        print("Temperature in celsius is "+ str(celsius))  
    else:
        print("Input is not a number") # este tiene que devolver el resultado

In [ ]:
caltem()

In [ ]:
print(type(respuesta))

In [ ]:
type(fahrenheit)

In [ ]:
# Alternativa Solución Marco

fahrenheit = input("Cual es la temperatura FAH de: ")

if fahrenheit.isnumeric() == False:
    print("Input is not a numeric")
    exit()

fahrenheit = int(fahrenheit)

celsius = int((fahrenheit -32) * 5/9 )
print("La temperatura en celsius es: " + str(celsius))

***
## lab 4 - Crear una calculadora **sencilla** sin definir funciones - parte 1

Cree una calculadora sencilla que acepte un primer número, una operación y un segundo número.

Este es un resultado de ejemplo, en el que un usuario ha escrito *4*, *** y *5* en los cuadros de entrada:


```output
Simple calculator!
First number? 4
Operation? *
Second number? 5
product of 4 * 5 equals 20
```

El programa debe aceptar un símbolo, como el símbolo de asterisco (*****), para realizar una multiplicación y generar un producto. Asegúrese de implementar lógica para estos resultados:

- Suma
- Resta
- Multiplicación
- Cociente
- Exponente
- Módulo

Si el usuario no escribe un valor numérico, muestre este mensaje:


```output
Please input a number.
```

Si el usuario escribe una operación que no se reconoce, muestre este mensaje:


```output
Operation not recognized.
```

Tanto si tiene dificultades y necesita echar un vistazo a la solución como si finaliza el ejercicio correctamente, continúe para ver una solución a este desafío.

In [ ]:
## Sol. NOELIA

a=input("Introduzca un número ")
b=input("Introduzca otro número ")
operacion=input("Introduzca +, -, *, /, //, % ")
operadores = ["+" , "-" , "*" , "/" , "//" , "%"]
try:
    a=float(a)
    b=float(b)
    if operacion not in operadores:
        print("Error: Operation not recognized")
    else:
        if operacion== "+":
            resultado= a+b
        if operacion== "-":
            resultado= a-b
        if operacion== "*":
            resultado= a*b
        if operacion== "/":
            resulatdo= a/b
        if operacion== "//":
            resultado= a//b
        if operacion== "%":
            resultado= a%b
        print(resultado)
except: 
    print("Error: Please input a number")

*** 

# Iterators

In [ ]:
# While...
# For...

In [5]:
# While ---- break, continue, else

In [14]:
# ejemplo dados
import os
import random
# random.seed() -- me espero

names = [] # variable global
#for name in range(5,1000,5): es lo mismo escribiendo params que no....

for name in range(100):
    names.append(name)
    print(names)
%time

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.91 µs

In [9]:
for name in range(100):
    names.append(name)
print(names)
%time

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.01 µs

In [12]:
for name in range(100):
    names.append(name)
print(random.choices(names,k=5))
%time

[1, 0, 73, 0, 30]
CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.48 µs

In [13]:
random.seed(123)
names = []
for name in range(100):
    names.append(name)
print(random.choices(names,k=5))
%time

[5, 8, 40, 10, 90]
CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.01 µs

***

## lab 6 - Jugamos a los dados

```output
Guess a number between 1 and 5: 3
Guess a number between 1 and 5: 4
You guessed it in 2 tries!
```

```output
Guess a number between 1 and 5: Beth
Guess a number between 1 and 5: Charlee
Guess a number between 1 and 5: 3
Guess a number between 1 and 5: 4
Guess a number between 1 and 5: 2
You guessed it in 5 tries!

```

In [ ]:
#### Importamos las librerias
import random

# Declaramos las variables
value = random.randint(1,6)
count = 0
guess = 0

# Creamos el iterador
while guess != value:
    count += 1 # incremento
    guess = input("Adivina un numero entre 1 y 6:")
    if guess.isnumeric():
        guess = int(guess)
else:
    print("has adivinado en {} ocasiones!".format(count))

***

## lab 7 - Mejora del lab anterior

Recompile el juego de adivinación de números, pero esta vez:

- Muestre el número del intento actual.
- Si el número propuesto es demasiado bajo, indíquele al usuario "El número es demasiado bajo, vuelva a intentarlo".
- Si el número propuesto es demasiado alto, indíquele al usuario "El número es demasiado alto, vuelva a intentarlo".
- Si el usuario escribe un valor no numérico, indíquele al usuario "Introduzca solo números".

Además, tome nota de la salida. Las solicitudes y los mensajes han cambiado en comparación con el desafío original.

Independientemente de cómo lo haga, el código debería producir una salida similar a la siguiente (debido a la respuesta y a las suposiciones generadas aleatoriamente):


```output
Guess a number between 1 and 10
Enter guess #1: 5
Your guess is too low, try again!
Enter guess #2: 8
Your guess is too high, try again!
Enter guess #3: 7
Your guess is too high, try again!
Enter guess #4: 6
You guessed it in 4 tries!
```

Si el usuario escribe un valor que no es numérico, muestre un mensaje de error. En la siguiente salida de ejemplo, el usuario escribe algunas cadenas y se le recuerda que solo debe introducir números.


```output
Guess a number between 1 and 10
Enter guess #1: Bob
Numbers only, please!
Enter guess #2: Beth
Numbers only, please!
Enter guess #3: 5
You guessed it in 3 tries!
```

Posible Solución

## lab 8 - Interactuar con los bucles

for ... loop

Vamos a mostrar en este ejemplo cómo podemos iterar dentro de un texto por línea e ir guardando información de forma interactiva en un diccionario:

In [16]:
molecula = """
ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N
ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C
ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C
ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O
ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C
ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S
ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N
ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C
ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C
ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O
ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O
"""

In [18]:
type(molecula)

str

In [ ]:
# Tenemos preparado ya un string con el contenido de dos aminoácidos. Cada línea representa un átomo.
# Vamos a iterar línea por línea porque nos conviene así, ya que cada línea se corresponde con un átomo.
    
# Qué ha pasado? Cuál es el problema? Básicamente, estre string está compuesto por líneas, pero la forma de iterarlo es primero
# de todo separarlo por saltos de línea. Vamos a intentarlo de nuevo:

In [20]:
import os
lines = molecula.split(os.linesep)

In [36]:
# alternativa con splitlines built-in function
lines2 = molecula.splitlines()
len(lines2)

12

In [38]:
lines

['',
 'ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O',
 '']

In [39]:
lines2

['',
 'ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [28]:
type(lines)

list

In [29]:
len(lines)

13

In [22]:
# Vamos a entender el funcionamiento de SPLIT
frases1 = "Frase1. La segunda frase. Tercera frase."
frase2 = "Una frase. Dos frases. Tercera frase mas larga. Cuarta frase."

In [25]:
frases1.split(".")
frase2.split(".")

['Una frase', ' Dos frases', ' Tercera frase mas larga', ' Cuarta frase', '']

In [30]:
# Fijaos que hemos importado una librería, os, que se trata de la parte de Python que contiene funciones útiles para
# interactuar con el sistema operativo. En nuestro caso, os.linesep contiene el carácter '\n' que es el salto de línea en 
# Linux.

In [32]:
for line in lines:
    if line.startswith('ATOM'):
        print(line)

ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N
ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C
ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C
ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O
ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C
ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S
ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N
ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C
ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C
ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O
ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O

In [42]:
# probamos en guardar la información
lines_atom = []
for line in lines:
    if line.startswith('ATOM'):
        lines_atom.append(line) #añadimos cada linea a la lista lines_atom
print(lines_atom)

['ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N', 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C', 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C', 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O', 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C', 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S', 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N', 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C', 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C', 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O', 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [53]:
# Definimos una función para que haga la misma operación en manera resumida, ordenada y bonita!
def cuenta_frase(string):
    num_frases = string.count("\n")
    return num_frases

In [56]:
# Ejectuamos la función
cuenta_frase(molecula)

12

## LISTAS

In [58]:
# Listas

names = ["Pepe", "Lucia", "Ricardo", "Paco"]
print(names)

['Pepe', 'Lucia', 'Ricardo', 'Paco']

In [62]:
len(names) # cuenta los elementos del objeto
names.sort() # ordenar en A-Z

In [64]:
names

['Lucia', 'Paco', 'Pepe', 'Ricardo']

In [67]:
names[2] # hago consulta del elemento en posición 3

'Pepe'

In [72]:
names[-3] # hago consulta desde el último elemento

'Paco'

In [77]:
names[1:3] # hago una consulta con el resultado uno o más de un elemento -1

['Paco', 'Pepe']

In [80]:
names[-1:-3] # funciona solo para elemento de izq a dcha

[]

In [87]:
# quiero añadir un nuevo miembro al equipo Barbara
names.append("Barbara")
names.sort()

In [88]:
names

['Barbara',
 'Barbara',
 'Barbara',
 'Barbara',
 'Barbara',
 'Lucia',
 'Paco',
 'Pepe',
 'Ricardo']

## TUPLAS

In [89]:
# las tuplas se utilizan cuando necesitamos almacenar poco valores, 
# ej. coordenadas
tupla = (12.5, 60.5)

## SET

In [95]:
# Creamos un listado único o set 
s = set()

In [96]:
# añadimos valores
s.add(2)
s.add(5)
s.add(6)

In [98]:
type(s)

set

In [100]:
s

{2, 5, 6}

In [102]:
s.add(5) # admite solo valores únicos
s

{2, 5, 6}

In [103]:
s.remove(5) # quitamos elementos
s

{2, 6}

## DICCIONARIOS

In [104]:
# Configuramos un dict o dictionary o diccionario
neoland = {
    "Enrique": "Data Scientist",
    "María":"Data Arquitect",
    "Juan":"Data Engineer",
    "Jorge":"Data Analyst",
    "Noelia":"Data y nada más",
    "Raquel":"Data Specialist",
    "Rodrigo":"Data y no sé",
    "Eduardo":"Dataaaa"
          }
type(neoland) # imprimimos el tipo de objeto

dict

In [106]:
len(neoland) # contamos los elementos - pares/valor

8

In [110]:
neoland["María"] # buscar el elemento que su key o parámetro sea María, devolverá su valor

'Data Arquitect'

In [112]:
neoland.keys() # llamamos los elemwentos por KEY

dict_keys(['Enrique', 'María', 'Juan', 'Jorge', 'Noelia', 'Raquel', 'Rodrigo', 'Eduardo'])

In [114]:
neoland.items() # devolverá los pares

dict_items([('Enrique', 'Data Scientist'), ('María', 'Data Arquitect'), ('Juan', 'Data Engineer'), ('Jorge', 'Data Analyst'), ('Noelia', 'Data y nada más'), ('Raquel', 'Data Specialist'), ('Rodrigo', 'Data y no sé'), ('Eduardo', 'Dataaaa')])

In [116]:
# para añadir un nuevo elemento (par/valor) , ej. el profesor
neoland["Marco"] = "Profesor"
neoland

{'Enrique': 'Data Scientist',
 'María': 'Data Arquitect',
 'Juan': 'Data Engineer',
 'Jorge': 'Data Analyst',
 'Noelia': 'Data y nada más',
 'Raquel': 'Data Specialist',
 'Rodrigo': 'Data y no sé',
 'Eduardo': 'Dataaaa',
 'Marco': 'Profesor'}

In [119]:
type(neoland)

dict

In [120]:
lines_atom

['ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [125]:
# Creamos un dict vacio

dic_tipo = {}

for line in lines_atom:
    tipo = line[-1]
    # Una vez tenemos el tipo guardado, queremos ver si existe ya en el diccionario.
    # Si no existe, crearemos la clave que contendrá una lista en la que añadiremos nuestra línea:
    if not dic_tipo.get(tipo):
        dic_tipo[tipo] = [line]
    else:
        # si ya existe añadimos a la lista una frase:
        dic_tipo[tipo].append(line)

In [133]:
dic_tipo

{'N': ['ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
  'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N'],
 'C': ['ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
  'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
  'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
  'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
  'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C'],
 'O': ['ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
  'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
  'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O'],
 'S': ['ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S']}