# Iteración y operaciones lógicas

In [2]:
# todas operaciones lógicas nos devuelven un resultado

a = 5 
b = 1

#Evaluación True
print(a > b)

True

In [3]:
# evaluación False
print(a < b)

False

In [4]:
# Otros operadores lógicos '<=' - '>=' - 'not'
print(a <= b)
print(a >= b)

False
True

In [5]:
a = False
print(not a)

True

In [15]:
#Ejemplo con Iteración IF

a = 5
b = 5
if a > b:
    print('a es mayor que b')
elif a < b:
    print('a es menor que b')
else:
    print('a es igual a b')

a es igual a b

## Mediciones con tiempo

In [16]:
%time

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.39 µs

## Iteraciones For

In [9]:
# For

monsters = ['Kraken', 'Leviathan', 'Uroborus', 'Hydra']

print(monsters)

['Kraken', 'Leviathan', 'Uroborus', 'Hydra']

In [18]:
# Iterando la lista monsters
%time
for monster in monsters:
    print(monster)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.25 µs
Kraken
Leviathan
Uroborus
Hydra

In [17]:
# función `enumerate` nos devuelve una tupla
%time
for i, monster in enumerate(monsters):
    print(i, monster)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.25 µs
0 Kraken
1 Leviathan
2 Uroborus
3 Hydra

## Iteraciones con while

In [12]:
# Otra manera de iterar la lista a través de while

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs

In [20]:
%time
i = 0
while i < len(monsters):
    print(i, monsters[i])
    i += 1

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs
0 Kraken
1 Leviathan
2 Uroborus
3 Hydra

In [23]:
# En este momento seríamos capaces de calcular la serie de Fibonacci hasta un determinado valor:
%time
n = 15000
a, b = 0, 1
while a < n:
    print(a, end = " ")
    a, b = b, a+b

CPU times: user 0 ns, sys: 5 µs, total: 5 µs
Wall time: 10 µs
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [27]:
# Podemos usar para generar listado a través de la función `range`
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# También podemos iterar con range en un bucle FOR
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [30]:
for i in range(5, 10):
    print(i, end = " ")

5 6 7 8 9

In [31]:
for i in range(5, 100, 3):
    print(i, end = " ")

5 8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89 92 95 98

## Iterar con los diccionarios

In [33]:
country_codes = {
    34 : 'Spain',
    376 : 'Andorra',
    39 : 'Italy',
    33 : 'France',
    424 : None
}

In [ ]:
country_codes.

In [34]:
# Podemos iterar por clave
for country_code in country_codes.keys():
    print(country_code)

34
376
39
33
424

In [35]:
# Podemos iterar por valores
for country_code in country_codes.values():
    print(country_code)

Spain
Andorra
Italy
France
None

In [36]:
# Podemos iterar los dos a la vez:
for country_code, country in country_codes.items():
    print(country_code, country)

34 Spain
376 Andorra
39 Italy
33 France
424 None

## Funciones

```
suma(x,y) = x + y

```

In [37]:
# La función suma se define mediante la palabra especial 'def' y tiene dos argumentos: 'x' e 'y':
def suma(x, y):
    return x + y

In [38]:
suma(5,7)

12

In [39]:
suma(10, - 5)

5

In [40]:
suma(None, 10)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [41]:
suma(1.0, 5)

6.0

In [42]:
suma(1.5, 9)

10.5

In [43]:
# Podemos definir una función y darle un valor `pass` - `continue`
def dummy():
    pass

In [44]:
dummy()

In [71]:
# volvemos a construir una función de Fibonacci
def fibo(n = valor):
    a, b = 0, 1
    while a < n:
        print(a, end = " ")
        a, b = b, a+b

In [78]:
fibo(100)

0 1 1 2 3 5 8 13 21 34 55 89

# Lectura de ficheros

In [79]:
# Para importar las librerías utilizamos la función `import`
import os

In [81]:
# Esta función me devuelve la ruta donde este notebook está abierto
os.getcwd()

'/home/jovyan/NEOLAND_professor-BAK/bootcamp_DS_201920_NEOLAND/05_PYTHON/Python_lecciones'

In [85]:
# Declaramos una variable del tipo "global" y creamos un fichero y escribimos
out = open('hola.txt', 'w')

# Vamos a escribir 10 lineas cada una con unúmero de 0 a 9 - los dígitos %d - cadena de texto %s
for i in range(11):
    out.write("Línea %d%s" % (i, os.linesep))
out.close()

In [87]:
type(out)

_io.TextIOWrapper

In [117]:
# Realizamos lo mismo con la función READ
file_hola = open("hola.txt")

In [118]:
for line in file_hola:
    print(line, end = "")

Línea 0
Línea 1
Línea 2
Línea 3
Línea 4
Línea 5
Línea 6
Línea 7
Línea 8
Línea 9
Línea 10

In [119]:
# Segunda método
file_hola = open("hola.txt")
lines = file_hola.readlines()

In [120]:
file_hola

In [124]:
print(lines)
type(lines)

['Línea 0\n', 'Línea 1\n', 'Línea 2\n', 'Línea 3\n', 'Línea 4\n', 'Línea 5\n', 'Línea 6\n', 'Línea 7\n', 'Línea 8\n', 'Línea 9\n', 'Línea 10\n']

list

In [125]:
for line in lines:
    print(line)

Línea 0

Línea 1

Línea 2

Línea 3

Línea 4

Línea 5

Línea 6

Línea 7

Línea 8

Línea 9

Línea 10

In [126]:
# Tercero método de lectura de fichero
with open('hola.txt') as file_hola:
    for line in file_hola:
        print(line)

Línea 0

Línea 1

Línea 2

Línea 3

Línea 4

Línea 5

Línea 6

Línea 7

Línea 8

Línea 9

Línea 10

## Ejercicio 3

Completad las siguientes funciones y documentad el código si lo consideráis oportuno. Finalmente, escribid al menos un ejemplo de uso para cada función

In [127]:
# con este método from....import solo importamos lo que vamos a utilizar
from math import cos, sin, radians

# aquí estamos importando toda la librería
# import math

"""Función que calcula la altura en un movimiento de caída libre

Suponemos que dejamos caer un objeto des de un edificio de altura desconocida.
El parámetro duracion_caida nos indica el tiempo (en segundos) que tarda el objeto en llegar a 
la tierra. La función debería calcular la altura del edificio des del cual se ha 
lanzado el objeto.

Podéis encontrar más información sobre el movimiento de caída libre en el siguiente 
enlace: https://www.fisicalab.com/apartado/caida-libre#contenidos.
"""

In [136]:
def calcular_altura_caida_libre(duracion_caida):
     # Definimos las variables que intervendran en la equación
    velocidad_inicial = 0
    acceleracion = 9.81
    
     # Según la fórmula, podemos deducir que para calcular la altura hemos de realizar el siguiente cálculo
    h = velocidad_inicial * duracion_caida + 1/2. * acceleracion * duracion_caida**2
    
    return h

"""Función que calcula las coordenadas cartesianas de un punto representado en coordenadas polares

Dado un punto representado por sus coordenadas polares (radio y angulo), la función debería calcular 
las correspondientes coordenadas cartesianas y devolver una tupla con su valor.

Podéis encontrar más información sobre el sistema de coordenadas polares y su conversión al sistema 
cartesiano en el siguiente enlace: https://es.wikipedia.org/wiki/Coordenadas_polares.
"""

In [139]:
def calcular_coordenadas_cartesianas(radio, angulo_en_grados):
    # Convertimos el ángulo a radianes
    angulo_radianes = radians(angulo_en_grados)
    
    # Calculamos las coordenadas cartesianas correspondientes
    x = radio * cos(angulo_radianes)
    y = radio * sin(angulo_radianes)
    
    return x, y
# Escribid aquí al menos un ejemplo de uso utilizando las funciones anteriores. Por ejemplo:
# print "El objeto se ha dejado caer des de una altura de %f metros" % calcular_altura_caida_libre(10

In [137]:
print("El objeto se ha dejado caer des de una altura de %f metros" % calcular_altura_caida_libre(10))
print("El objeto se ha dejado caer des de una altura de %f metros" % calcular_altura_caida_libre(1.5))

El objeto se ha dejado caer des de una altura de 490.500000 metros
El objeto se ha dejado caer des de una altura de 11.036250 metros

In [141]:
print("Las coordenadas en el sistema cartesiano del punto (13, 23) son (%f, %f)." % calcular_coordenadas_cartesianas(13, 23))
print("Las coordenadas en el sistema cartesiano del punto (5, 90) son (%f, %f)." % calcular_coordenadas_cartesianas(5, 90))

Las coordenadas en el sistema cartesiano del punto (13, 23) son (11.966563, 5.079505).
Las coordenadas en el sistema cartesiano del punto (5, 90) son (0.000000, 5.000000).