# Lab 8 Bucles

In [1]:
molecula = """
ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N
ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C
ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C
ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O
ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C
ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S
ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N
ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C
ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C
ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O
ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O
"""

In [2]:
type(molecula)

str

In [17]:
import os
#lines = molecula.split(os.linesep)
lines = molecula.splitlines()

In [18]:
lines

['',
 'ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [7]:
# Vamos a entender el funcionamiento de SPLIT
frases1 = "Frase1. La segunda frase. Tercera frase"
frases2 = "Una frase. Dos frases. Tercera frase más larga. Cuarta frase"

In [10]:
frases1.split(".")
frases2.split(".")

['Una frase', ' Dos frases', ' Tercera frase más larga', ' Cuarta frase', '']

In [19]:
type(lines)

list

In [20]:
len(lines)

12

In [21]:
lines

['',
 'ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N',
 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C',
 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C',
 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O',
 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C',
 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S',
 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N',
 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C',
 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C',
 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O',
 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [22]:
for line in lines:
    if line.startswith('ATOM'):
        print(line)

ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N
ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C
ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C
ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O
ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C
ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S
ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N
ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C
ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C
ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O
ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O

In [31]:
# Probamos a guardar la información.
lines_atom = []
for line in lines:
    if line.startswith('ATOM'):
        lines_atom.append(line) #Añadimos cada línea a la lista lines_atom
print(lines_atom)

['ATOM    232  N   CYS A  28       3.977   8.402   0.487  1.00 10.53           N', 'ATOM    233  CA  CYS A  28       3.295   9.146   1.517  1.00 10.04           C', 'ATOM    234  C   CYS A  28       4.174  10.264   2.053  1.00 10.31           C', 'ATOM    235  O   CYS A  28       5.378  10.108   2.202  1.00 12.91           O', 'ATOM    236  CB  CYS A  28       2.912   8.210   2.680  1.00  9.81           C', 'ATOM    237  SG  CYS A  28       1.804   6.853   2.197  1.00  9.93           S', 'ATOM    238  N   GLY A  29       3.546  11.391   2.430  1.00 10.76           N', 'ATOM    239  CA  GLY A  29       4.295  12.472   3.049  1.00 11.93           C', 'ATOM    240  C   GLY A  29       3.416  13.524   3.596  1.00 12.60           C', 'ATOM    241  O   GLY A  29       3.985  14.574   4.052  1.00 15.82           O', 'ATOM    242  OXT GLY A  29       2.168  13.386   3.672  1.00 11.37           O']

In [25]:
def cuenta_frase(string):
    num_frases = string.count("\n")
    return num_frases

In [27]:
#Ejecutamos la función
cuenta_frase(frases1)

3

In [33]:
cuenta_frase(molecula)

55

In [32]:
cuenta_frase(lines_atom)

0

## Listas

In [37]:
# Listas 

names = ["Pepe", "Lucía", "Ricardo", "Paco"]
print(names)

['Pepe', 'Lucía', 'Ricardo', 'Paco']

In [38]:
len(names) # Cuenta los elementos del objeto
names.sort() #Ordenar en  A-Z

In [39]:
names

['Lucía', 'Paco', 'Pepe', 'Ricardo']

In [40]:
print(names[0])

Lucía

In [41]:
names[2] # Hago consulta del elemento en posición 3

'Pepe'

In [42]:
names[-1]

'Ricardo'

In [43]:
names[-4]

'Lucía'

In [45]:
names[-3] # Hago consulta del último elemento

'Paco'

In [47]:
names[1:3] # Hago una consulta con el resultado de uno o más elementos -1

['Paco', 'Pepe']

In [48]:
names[-1:-3] # Funciona solo para elementos de inquierda a derecha

[]

In [51]:
# Quiero meter un nuevo miembro al equipo: Barbara
names.append ('Barbara')
names.sort()

In [52]:
names

['Barbara', 'Barbara', 'Lucía', 'Paco', 'Pepe', 'Ricardo']

## Tuplas

In [59]:
# Las tuplas se utilizan cuando necesitamos almacenar pocos valores
# Ej. Coordenadas geográficas
tupla = (12.5, 60.5)

# Creamos un listado único o set
s = set()

In [64]:
type (s)

set

In [60]:
# Añadimos valores
s.add(2)
s.add(5)
s.add(6)

In [61]:
s

{2, 5, 6}

In [62]:
s.remove(5) # Quitamos elementos

In [63]:
s

{2, 6}

## Diccionarios

In [65]:
# Configuramos un dict o dictionary
neoland = {"Enrique": "Data Scientist",
          "Enrique": "Data Arquitect",
           "Maria": "Data Engineer",
           "Juan": "Data Analyst",
           "Jorge": "Data Scientist",
           "Noelia": "Data y nada más",
           "Raquel": "Data Specialist",
           "Rodrigo": "Data y no sé",
           "Eduardo": "Dataaaa"
          }
type(neoland) # Imprimimos el tipo de objeto

dict

In [66]:
len(neoland) # Contamos los elementos -pares/valor

8

In [67]:
neoland['Maria']

'Data Engineer'

In [68]:
neoland.keys() # Llamamos los elementos por key

dict_keys(['Enrique', 'Maria', 'Juan', 'Jorge', 'Noelia', 'Raquel', 'Rodrigo', 'Eduardo'])

In [69]:
neoland.items() # Devolverá los pares

dict_items([('Enrique', 'Data Arquitect'), ('Maria', 'Data Engineer'), ('Juan', 'Data Analyst'), ('Jorge', 'Data Scientist'), ('Noelia', 'Data y nada más'), ('Raquel', 'Data Specialist'), ('Rodrigo', 'Data y no sé'), ('Eduardo', 'Dataaaa')])

In [73]:
neoland['Marco'] = 'Profesor' # Para añadir un nuevo elemento (par/valor), ej. Profesor

In [72]:
neoland

{'Enrique': 'Data Arquitect',
 'Maria': 'Data Engineer',
 'Juan': 'Data Analyst',
 'Jorge': 'Data Scientist',
 'Noelia': 'Data y nada más',
 'Raquel': 'Data Specialist',
 'Rodrigo': 'Data y no sé',
 'Eduardo': 'Dataaaa',
 'Marco': 'Profesor'}

In [74]:
type(neoland)

dict

In [80]:
# Creamos un dict vacío

dic_tipo = {}

for lines in lines:
    tipo = line [-1]
    # Una vez tenemos el tipo guardado, queremos ver si existe ya en el diccionario
    # Si no existe, crearemos la clave que contendrá una lista en la que añadiremos
    if not dic_tipo.get(tipo):
        dic_tipo[tipo] = [line]
    else:
        dic_tipo[tipo].append(line)

In [85]:
dic_tipo

{}