In [2]:
import pandas as pd
import numpy as np

# Carga de ficheros

`CSV` fichero en formato csv

In [1]:
# Creamos un dataframe desde cero

df = ["Marco", "Pepe", "Juan"]
lname = ["Diaz", "Gomez", "Ricardo"]
birth = [1960, 1970, 1980]

In [2]:
people = {"first" : df, "last": lname, "birth": birth}

In [1]:
import pandas as pd
crm = pd.DataFrame(people)

NameError: name 'people' is not defined

In [4]:
crm

   first     last  birth
0  Marco     Diaz   1960
1   Pepe    Gomez   1970
2   Juan  Ricardo   1980

## Write CSV

In [7]:
from io import StringIO

In [8]:
crm.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
crm.to_csv("crm_dataframe.csv")

In [11]:
crm_2 = pd.read_csv("crm_dataframe.csv")

In [12]:
crm_2

   Unnamed: 0  first     last  birth
0           0  Marco     Diaz   1960
1           1   Pepe    Gomez   1970
2           2   Juan  Ricardo   1980

## Lectura de ficheros grandes en formato CSV

In [13]:
# una forma de optimizar la carga de los datos es seleccionar solo una muestra

In [14]:
diamonds = pd.read_csv("../../../../data-analysis-pandas_ALTAMIRA/data/data/diamonds.csv")

In [15]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [17]:
diamonds.info

<bound method DataFrame.info of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]>

In [20]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [28]:
diamonds.to_csv("diamonds_original.csv", index = False)

A partir de este escenario lo primero es cargar una muestra y sucesivamente analizar el tipo de dato.

In [29]:
sample_diamonds = pd.read_csv("diamonds_original.csv", nrows=1000)
sample_diamonds

     carat      cut color clarity  depth  table  price     x     y     z
0     0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1     0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2     0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3     0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4     0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
..     ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
995   0.54    Ideal     D    VVS2   61.4   52.0   2897  5.30  5.34  3.26
996   0.72    Ideal     E     SI1   62.5   55.0   2897  5.69  5.74  3.57
997   0.72     Good     F     VS1   59.4   61.0   2897  5.82  5.89  3.48
998   0.74  Premium     D     VS2   61.8   58.0   2897  5.81  5.77  3.58
999   1.12  Premium     J     SI2   60.6   59.0   2898  6.68  6.61  4.03

[1000 rows x 10 columns]

In [30]:
sample_diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float64
 1   cut      1000 non-null   object
 2   color    1000 non-null   object
 3   clarity  1000 non-null   object
 4   depth    1000 non-null   float64
 5   table    1000 non-null   float64
 6   price    1000 non-null   int64
 7   x        1000 non-null   float64
 8   y        1000 non-null   float64
 9   z        1000 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 78.2+ KB

Si con 1000 filas cargadas hemos utilizado solo 86k de memoria, significa que con el tener 1MM sería unos 8,6Gb de memoría.

***
### TEST de memoría

In [31]:
# Cambiamos el tipo de dato
import numpy as np
diamonds_f32 = pd.read_csv("diamonds_original.csv",
                        nrows=1000,
                        dtype={
                            "carat" : np.float32,
                            "depth" : np.float32,
                            "table" : np.float32,
                            "x" : np.float32,
                            "y" : np.float32,
                            "z" : np.float32,
                            "price" : np.int16
                            })

In [32]:
diamonds_f32.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   object
 2   color    1000 non-null   object
 3   clarity  1000 non-null   object
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
 7   x        1000 non-null   float32
 8   y        1000 non-null   float32
 9   z        1000 non-null   float32
dtypes: float32(6), int16(1), object(3)
memory usage: 49.0+ KB

Con el solo cambiar el tipo de dato de `float64` a `float32` hemos ahorrado algo de memoria.

In [33]:
# Procedemos con el cambio de categorícas
diamonds_cat = pd.read_csv("diamonds_original.csv",
                        nrows=1000,
                        dtype={
                            "carat" : np.float32,
                            "depth" : np.float32,
                            "table" : np.float32,
                            "x" : np.float32,
                            "y" : np.float32,
                            "z" : np.float32,
                            "price" : np.int16,
                            "cut" : "category",
                            "color" :"category",
                            "clarity":"category"
                            })

In [34]:
diamonds_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   category
 2   color    1000 non-null   category
 3   clarity  1000 non-null   category
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
 7   x        1000 non-null   float32
 8   y        1000 non-null   float32
 9   z        1000 non-null   float32
dtypes: category(3), float32(6), int16(1)
memory usage: 29.4 KB

Otra forma de cargar los datos y optimizar la memoria y los tiempos de carga.

In [35]:
cols = [
    "carat",
    "cut",
    "color",
    "clarity",
    "depth",
    "table",
    "price"
]

In [36]:
# Utilizando el parámetro usecols cargamos solo el array declarado anteriormente con las columnas interesadas 
diamonds4 = pd.read_csv("diamonds_original.csv",
                        nrows=1000,
                        dtype={
                            "carat" : np.float32,
                            "depth" : np.float32,
                            "table" : np.float32,
                            "x" : np.float32,
                            "y" : np.float32,
                            "z" : np.float32,
                            "price" : np.int16,
                            "cut" : "category",
                            "color" :"category",
                            "clarity":"category"
                            },
                       usecols=cols)

In [37]:
diamonds4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    1000 non-null   float32
 1   cut      1000 non-null   category
 2   color    1000 non-null   category
 3   clarity  1000 non-null   category
 4   depth    1000 non-null   float32
 5   table    1000 non-null   float32
 6   price    1000 non-null   int16
dtypes: category(3), float32(3), int16(1)
memory usage: 17.7 KB

In [60]:
# Utilizamos el paráemtro chuncksize para realizar cargas de n elementos
diamonds_5 = pd.read_csv("diamonds_original.csv",
                        nrows=1000,
                        dtype={
                            "carat" : np.float32,
                            "depth" : np.float32,
                            "table" : np.float32,
                            "x" : np.float32,
                            "y" : np.float32,
                            "z" : np.float32,
                            "price" : np.int16,
                            "cut" : "category",
                            "color" :"category",
                            "clarity":"category"
                            },
                       usecols=cols,
                        chunksize=200)

In [61]:
diamonds_5

In [56]:
diamonds_5.info()

AttributeError: 'TextFileReader' object has no attribute 'info'

Para poder leer este formato TextFileReader necesitaremos iterar sobre el objeto generado.

In [62]:
def process(df):
    return f"processed {df.size} items"
for chunk in diamonds_5:
    process(chunk)

In [63]:
chunk

     carat      cut color clarity      depth  table  price
800   1.22  Premium     E      I1  60.900002   57.0   2862
801   1.01     Fair     E     SI2  67.599998   57.0   2862
802   0.73  Premium     E     VS2  62.500000   61.0   2862
803   0.91     Good     I     VS2  64.300003   58.0   2863
804   0.71    Ideal     D     SI1  60.799999   56.0   2863
..     ...      ...   ...     ...        ...    ...    ...
995   0.54    Ideal     D    VVS2  61.400002   52.0   2897
996   0.72    Ideal     E     SI1  62.500000   55.0   2897
997   0.72     Good     F     VS1  59.400002   61.0   2897
998   0.74  Premium     D     VS2  61.799999   58.0   2897
999   1.12  Premium     J     SI2  60.599998   59.0   2898

[200 rows x 7 columns]

In [64]:
chunk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 800 to 999
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    200 non-null    float32
 1   cut      200 non-null    category
 2   color    200 non-null    category
 3   clarity  200 non-null    category
 4   depth    200 non-null    float32
 5   table    200 non-null    float32
 6   price    200 non-null    int16
dtypes: category(3), float32(3), int16(1)
memory usage: 4.4 KB

***
Compromobamos porque float32 o float16 son diferentes

Solo para profundizar el tema

- Pandas de forma automática asigna a los valores enteros `int64` y a los valores decimales `float64`. Los no numéricos son tratatos como `object`

In [65]:
# un ejemplo es observar la memoria que consume un tipo de dato
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [67]:
np.iinfo(np.int16)

iinfo(min=-32768, max=32767, dtype=int16)

In [68]:
np.iinfo(np.int32)

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [69]:
np.iinfo(np.int64)

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [70]:
# Comprobamos la memoria utilizada por un tipo de dato
diamonds.price.dtype

dtype('int64')

In [72]:
diamonds_f32.price.dtype

dtype('int16')

In [74]:
diamonds.price.memory_usage()

431648

In [75]:
diamonds_f32.price.memory_usage()

2128

In [77]:
# Imprime en pantalla valores más la columna del índice
diamonds.price

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [78]:
# Restamos memoria del index
diamonds.price.memory_usage(index=False)

431520

In [84]:
# Restamos memoria del tipo categoríca
diamonds_cat.cut.memory_usage(deep=True, index=False) # ??? INVESTIGAD

1474

In [85]:
diamonds_cat.cut.memory_usage(index=False)

1200

Durante la fase de escritura, no existe solo el modo `csv`, podemos obtener otro tipo de formato

In [86]:
# guardamos el fichero original 
diamonds.to_csv("diamonds_bak.csv") # 2,8Mb

In [87]:
# Para poder escribir en feather necesitamos instalar su librería
!#pip install pyarrow

In [88]:
diamonds.to_feather("diamonds.arr") # 1,797Mb

In [89]:
# Leer un fichero Feather a través de read_feather
diamonds_feat = pd.read_feather("diamonds.arr")
diamonds_feat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [90]:
# Guardamos ahora en formato parquet
diamonds.to_parquet("diamonds.pqt") # 508kb

### También podemos utilizar `read_csv` para leer ficheros .zip

In [94]:
# Podemos configurar nuestro entorno con unos parámetros del propio pandas `set_option`
pd.set_option('max_columns', 90, 'max_rows', 30, 'max_colwidth', 50)

In [95]:
autos = pd.read_csv("../../../../data-analysis-pandas_ALTAMIRA/data/data/vehicles.csv.zip")
autos

Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,(FFS),-1,1900,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0000,0.0,Two Seaters,1985,-1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12.0,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3650,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0000,0.0,19.0000,0.0,Two Seaters,1985,-10500,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,(FFS),-1,1500,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0000,0.0,Subcompact Cars,1985,250,NaN,SIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8.0,5.2,Rear-Wheel Drive,2850,NaN,-1,3650,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-10500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2500,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0000,0.0,Compact Cars,1993,-4750,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39096,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,403.954545,22,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,66030,(FFS),-1,1850,0,Regular,Regular Gasoline,-1,-1,26,0.0,0,0.0,0.0,0.0,0.0,0,0,9995,0,14,Subaru,Legacy,N,False,0,90,0,0.0,0.0,0.0,0.0,Automatic 4-spd,24.0000,0.0,37.0000,0.0,Compact Cars,1993,-1500,NaN,CLKUP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39097,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,386.391304,23,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,66030,(FFS),-1,1750,0,Regular,Regular Gasoline,-1,-1,28,0.0,0,0.0,0.0,0.0,0.0,0,0,9996,0,14,Subaru,Legacy,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,25.0000,0.0,39.0000,0.0,Compact Cars,1993,-1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39098,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66030,(FFS),-1,1900,0,Regular,Regular Gasoline,-1,-1,24,0.0,0,0.0,0.0,0.0,0.0,0,0,9997,0,14,Subaru,Legacy AWD,Y,False,0,90,0,0.0,0.0,0.0,0.0,Automatic 4-spd,23.0000,0.0,34.0000,0.0,Compact Cars,1993,-1750,NaN,CLKUP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39099,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66030,(FFS),-1,1900,0,Regular,Regular Gasoline,-1,-1,24,0.0,0,0.0,0.0,0.0,0.0,0,0,9998,0,14,Subaru,Legacy AWD,Y,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.0000,0.0,34.0000,0.0,Compact Cars,1993,-1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
39100,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,493.722222,18,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2650,0,Premium,Premium Gasoline,-1,-1,21,0.0,0,0.0,0.0,0.0,0.0,0,0,9999,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Automatic 4-spd,20.0000,0.0,29.0000,0.0,Compact Cars,1993,-5500,NaN,CLKUP,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [96]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39101 entries, 0 to 39100
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        39101 non-null  float64
 1   barrelsA08       39101 non-null  float64
 2   charge120        39101 non-null  float64
 3   charge240        39101 non-null  float64
 4   city08           39101 non-null  int64
 5   city08U          39101 non-null  float64
 6   cityA08          39101 non-null  int64
 7   cityA08U         39101 non-null  float64
 8   cityCD           39101 non-null  float64
 9   cityE            39101 non-null  float64
 10  cityUF           39101 non-null  float64
 11  co2              39101 non-null  int64
 12  co2A             39101 non-null  int64
 13  co2TailpipeAGpm  39101 non-null  float64
 14  co2TailpipeGpm   39101 non-null  float64
 15  comb08           39101 non-null  int64
 16  comb08U          39101 non-null  float64
 17  combA08          39101 non-null  int64
 18  combA08U         39101 non-null  float64
 19  combE            39101 non-null  float64
 20  combinedCD       39101 non-null  float64
 21  combinedUF       39101 non-null  float64
 22  cylinders        38956 non-null  float64
 23  displ            38958 non-null  float64
 24  drive            37912 non-null  object
 25  engId            39101 non-null  int64
 26  eng_dscr         23431 non-null  object
 27  feScore          39101 non-null  int64
 28  fuelCost08       39101 non-null  int64
 29  fuelCostA08      39101 non-null  int64
 30  fuelType         39101 non-null  object
 31  fuelType1        39101 non-null  object
 32  ghgScore         39101 non-null  int64
 33  ghgScoreA        39101 non-null  int64
 34  highway08        39101 non-null  int64
 35  highway08U       39101 non-null  float64
 36  highwayA08       39101 non-null  int64
 37  highwayA08U      39101 non-null  float64
 38  highwayCD        39101 non-null  float64
 39  highwayE         39101 non-null  float64
 40  highwayUF        39101 non-null  float64
 41  hlv              39101 non-null  int64
 42  hpv              39101 non-null  int64
 43  id               39101 non-null  int64
 44  lv2              39101 non-null  int64
 45  lv4              39101 non-null  int64
 46  make             39101 non-null  object
 47  model            39101 non-null  object
 48  mpgData          39101 non-null  object
 49  phevBlended      39101 non-null  bool
 50  pv2              39101 non-null  int64
 51  pv4              39101 non-null  int64
 52  range            39101 non-null  int64
 53  rangeCity        39101 non-null  float64
 54  rangeCityA       39101 non-null  float64
 55  rangeHwy         39101 non-null  float64
 56  rangeHwyA        39101 non-null  float64
 57  trany            39090 non-null  object
 58  UCity            39101 non-null  float64
 59  UCityA           39101 non-null  float64
 60  UHighway         39101 non-null  float64
 61  UHighwayA        39101 non-null  float64
 62  VClass           39101 non-null  object
 63  year             39101 non-null  int64
 64  youSaveSpend     39101 non-null  int64
 65  guzzler          2335 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5816 non-null   object
 68  sCharger         738 non-null    object
 69  atvType          3204 non-null   object
 70  fuelType2        1490 non-null   object
 71  rangeA           1485 non-null   object
 72  evMotor          644 non-null    object
 73  mfrCode          8289 non-null   object
 74  c240Dscr         53 non-null     object
 75  charge240b       39101 non-null  float64
 76  c240bDscr        51 non-null     object
 77  createdOn        39101 non-null  object
 78  modifiedOn       39101 non-null  object
 79  startStop        7405 non-null   object
 80  phevCity         39101 non-null  int64
 81  phevHwy          39101 non-null  int64
 82  phevComb         39101 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 24.5+ MB

In [98]:
autos.modifiedOn.dtype

dtype('O')

In [101]:
autos.modifiedOn

0        Tue Jan 01 00:00:00 EST 2013
1        Tue Jan 01 00:00:00 EST 2013
2        Tue Jan 01 00:00:00 EST 2013
3        Tue Jan 01 00:00:00 EST 2013
4        Tue Jan 01 00:00:00 EST 2013
                     ...
39096    Tue Jan 01 00:00:00 EST 2013
39097    Tue Jan 01 00:00:00 EST 2013
39098    Tue Jan 01 00:00:00 EST 2013
39099    Tue Jan 01 00:00:00 EST 2013
39100    Tue Jan 01 00:00:00 EST 2013
Name: modifiedOn, Length: 39101, dtype: object

In [100]:
# Podemos transformar o parsear los datos "fechas" de STR a DATETIME
pd.to_datetime(autos.modifiedOn)

tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.

0       2013-01-01
1       2013-01-01
2       2013-01-01
3       2013-01-01
4       2013-01-01
           ...
39096   2013-01-01
39097   2013-01-01
39098   2013-01-01
39099   2013-01-01
39100   2013-01-01
Name: modifiedOn, Length: 39101, dtype: datetime64[ns]

In [102]:
# Entonces podemos cargar el dataframe utilizando el parámetro `parse_dates`
auto_2_parsed = pd.read_csv("../../../../data-analysis-pandas_ALTAMIRA/data/data/vehicles.csv.zip",
                           parse_dates=['modifiedOn'])

Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.

In [106]:
auto_2_parsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39101 entries, 0 to 39100
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        39101 non-null  float64
 1   barrelsA08       39101 non-null  float64
 2   charge120        39101 non-null  float64
 3   charge240        39101 non-null  float64
 4   city08           39101 non-null  int64
 5   city08U          39101 non-null  float64
 6   cityA08          39101 non-null  int64
 7   cityA08U         39101 non-null  float64
 8   cityCD           39101 non-null  float64
 9   cityE            39101 non-null  float64
 10  cityUF           39101 non-null  float64
 11  co2              39101 non-null  int64
 12  co2A             39101 non-null  int64
 13  co2TailpipeAGpm  39101 non-null  float64
 14  co2TailpipeGpm   39101 non-null  float64
 15  comb08           39101 non-null  int64
 16  comb08U          39101 non-null  float64
 17  combA08          39101 non-null  int64
 18  combA08U         39101 non-null  float64
 19  combE            39101 non-null  float64
 20  combinedCD       39101 non-null  float64
 21  combinedUF       39101 non-null  float64
 22  cylinders        38956 non-null  float64
 23  displ            38958 non-null  float64
 24  drive            37912 non-null  object
 25  engId            39101 non-null  int64
 26  eng_dscr         23431 non-null  object
 27  feScore          39101 non-null  int64
 28  fuelCost08       39101 non-null  int64
 29  fuelCostA08      39101 non-null  int64
 30  fuelType         39101 non-null  object
 31  fuelType1        39101 non-null  object
 32  ghgScore         39101 non-null  int64
 33  ghgScoreA        39101 non-null  int64
 34  highway08        39101 non-null  int64
 35  highway08U       39101 non-null  float64
 36  highwayA08       39101 non-null  int64
 37  highwayA08U      39101 non-null  float64
 38  highwayCD        39101 non-null  float64
 39  highwayE         39101 non-null  float64
 40  highwayUF        39101 non-null  float64
 41  hlv              39101 non-null  int64
 42  hpv              39101 non-null  int64
 43  id               39101 non-null  int64
 44  lv2              39101 non-null  int64
 45  lv4              39101 non-null  int64
 46  make             39101 non-null  object
 47  model            39101 non-null  object
 48  mpgData          39101 non-null  object
 49  phevBlended      39101 non-null  bool
 50  pv2              39101 non-null  int64
 51  pv4              39101 non-null  int64
 52  range            39101 non-null  int64
 53  rangeCity        39101 non-null  float64
 54  rangeCityA       39101 non-null  float64
 55  rangeHwy         39101 non-null  float64
 56  rangeHwyA        39101 non-null  float64
 57  trany            39090 non-null  object
 58  UCity            39101 non-null  float64
 59  UCityA           39101 non-null  float64
 60  UHighway         39101 non-null  float64
 61  UHighwayA        39101 non-null  float64
 62  VClass           39101 non-null  object
 63  year             39101 non-null  int64
 64  youSaveSpend     39101 non-null  int64
 65  guzzler          2335 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5816 non-null   object
 68  sCharger         738 non-null    object
 69  atvType          3204 non-null   object
 70  fuelType2        1490 non-null   object
 71  rangeA           1485 non-null   object
 72  evMotor          644 non-null    object
 73  mfrCode          8289 non-null   object
 74  c240Dscr         53 non-null     object
 75  charge240b       39101 non-null  float64
 76  c240bDscr        51 non-null     object
 77  createdOn        39101 non-null  object
 78  modifiedOn       39101 non-null  datetime64[ns]
 79  startStop        7405 non-null   object
 80  phevCity         39101 non-null  int64
 81  phevHwy          39101 non-null  int64
 82  phevComb         39101 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(32), int64(27), object(22)
memory usage: 24.5+ MB

`read_csv`puede leer y permite un solo fichero zip. Para leer más ficheros en un zip utilizamos un iterator

In [107]:
test_zip = pd.read_csv("../../../../data-analysis-pandas_ALTAMIRA/data/data/kaggle-survey-2018.zip")
test_zip

ValueError: Multiple files found in compressed zip file ['multipleChoiceResponses.csv', 'freeFormResponses.csv', 'SurveySchema.csv']

In [108]:
# importamos la librería zipfile
import zipfile
with zipfile.ZipFile("../../../../data-analysis-pandas_ALTAMIRA/data/data/kaggle-survey-2018.zip") as z:
    print("\n".join(z.namelist()))
    kag = pd.read_csv(z.open('multipleChoiceResponses.csv')) # seleccionamos y cargamos el fichero

multipleChoiceResponses.csv
freeFormResponses.csv
SurveySchema.csv

Columns (0,2,8,10,21,23,24,25,26,27,28,44,56,64,83,85,87,107,109,123,125,150,157,172,174,194,210,218,219,223,246,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types.Specify dtype option on import or set low_memory=False.

In [109]:
kag

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,Q7_OTHER_TEXT,Q8,Q9,Q10,Q11_Part_1,Q11_Part_2,Q11_Part_3,Q11_Part_4,Q11_Part_5,Q11_Part_6,Q11_Part_7,Q11_OTHER_TEXT,Q12_MULTIPLE_CHOICE,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q12_OTHER_TEXT,Q13_Part_1,Q13_Part_2,Q13_Part_3,Q13_Part_4,Q13_Part_5,Q13_Part_6,Q13_Part_7,Q13_Part_8,Q13_Part_9,Q13_Part_10,Q13_Part_11,Q13_Part_12,Q13_Part_13,Q13_Part_14,Q13_Part_15,Q13_OTHER_TEXT,...,Q45_Part_2,Q45_Part_3,Q45_Part_4,Q45_Part_5,Q45_Part_6,Q46,Q47_Part_1,Q47_Part_2,Q47_Part_3,Q47_Part_4,Q47_Part_5,Q47_Part_6,Q47_Part_7,Q47_Part_8,Q47_Part_9,Q47_Part_10,Q47_Part_11,Q47_Part_12,Q47_Part_13,Q47_Part_14,Q47_Part_15,Q47_Part_16,Q48,Q49_Part_1,Q49_Part_2,Q49_Part_3,Q49_Part_4,Q49_Part_5,Q49_Part_6,Q49_Part_7,Q49_Part_8,Q49_Part_9,Q49_Part_10,Q49_Part_11,Q49_Part_12,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,In what industry is your current employer/cont...,How many years of experience do you have in yo...,What is your current yearly compensation (appr...,Does your current employer incorporate machine...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,...,In what circumstances would you explore model ...,In what circumstances would you explore model ...,In what circumstances would you explore model ...,In what circumstances would you explore model ...,In what circumstances would you explore model ...,Approximately what percent of your data projec...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,What methods do you prefer for explaining and/...,"Do you consider ML models to be ""black boxes"" ...",What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,0,NaN,NaN,I do not know,Analyze and understand data to influence produ...,Build and/or run a machine learning service th...,Build and/or run the data infrastructure that ...,NaN,Do research that advances the state of the art...,NaN,NaN,-1,"Cloud-based data software & APIs (AWS, GCP, Az...",-1,-1,-1,-1,0,-1,Jupyter/IPython,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,-1,5-10,"10-20,000",No (we do not use ML methods),NaN,NaN,NaN,NaN,NaN,None of these activities are an important part...,NaN,-1,"Basic statistical software (Microsoft Excel, G...",1,-1,-1,-1,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,-1,0-1,"0-10,000",I do not know,Analyze and understand data to influence produ...,NaN,NaN,NaN,NaN,NaN,NaN,-1,Local or hosted development environments (RStu...,-1,-1,-1,0,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,MATLAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,...,NaN,When determining whether it is worth it to put...,NaN,NaN,NaN,10-20,NaN,Examine feature correlations,Examine feature importances,NaN,NaN,NaN,NaN,Plot predicted vs. actual results,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I am confident that I can explain the outputs ...,NaN,NaN,NaN,NaN,NaN,NaN,Make sure the code is human-readable,Define all random seeds,NaN,Include a text file describing all dependencies,NaN,NaN,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,Local or hosted development environments (RStu...,-1,-1,-1,1,-1,-1,Jupyter/IPython,RStudio,PyCharm,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,Vim,NaN,NaN,NaN,NaN,-1,...,NaN,NaN,When building a model that was specifically de...,NaN,NaN,20-30,NaN,Examine feature correlations,Examine feature importances,Plot decision boundaries,NaN,NaN,NaN,Plot predicted vs. actual results,NaN,Sensitivity analysis/perturbation importance,NaN,NaN,NaN,NaN,NaN,NaN,"Yes, most ML models are ""black boxes""",NaN,NaN,"Share data, code, and environment using a host...",NaN,NaN,NaN,Make sure the code is human-readable,NaN,Define relative rather than absolute file paths,NaN,NaN,NaN,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,575,Male,-1,45-49,France,Doctoral degree,"Computer science (software engineering, etc.)",Chief Officer,-1,Computers/Technology,-1,5-10,"250-300,000","We recently started using ML methods (i.e., mo...",NaN,Build and/or run a machine learning service th...,NaN,Build prototypes to explore applying machine l...,Do research that advances the state of the art...,NaN,NaN,-1,Local or hosted development environments (RStu...,-1,-1,-1,21,-1,-1,Jupyter/IPython,RStudio,PyCharm,NaN,NaN,NaN,MATLAB,NaN,NaN,Sublime Text,NaN,IntelliJ,NaN,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23856,131,Female,-1,25-29,Turkey,Master’s degree,Engineering (non-computer focused),NaN,-1,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,-1,-1,-1,-1,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23857,370,Male,-1,22-24,Turkey,Master’s degree,"Computer science (software engineering, etc.)",Software Engineer,-1,Computers/Technology,-1,0-1,"10-20,000","We recently started using ML methods (i.e., mo...",Analyze and understand data to influence produ...,Build and/or run a machine learning service th...,Build and/or run the data infrastructure that ...,Build prototypes to explore applying machine l...,NaN,NaN,NaN,-1,Local or hosted development environments (RStu...,-1,-1,-1,10,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23858,36,Male,-1,25-29,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,-1,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,-1,-1,-1,-1,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23859,502,Male,-1,25-29,Spain,Master’s degree,Mathematics or statistics,NaN,-1,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,-1,-1,-1,-1,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

### Importamos ficheros web HTML

- para poder cargar HTML necesitamos la librerías `lxml` y `beautifulsoup4` o `bs4`

In [129]:
#!pip install lxml
#!pip install BeautifulSoup4
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 7.3 MB/s eta 0:00:01
Requirement already satisfied: webencodings in /opt/conda/lib/python3.8/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.8/site-packages (from html5lib) (1.15.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [110]:
url = 'https://en.wikipedia.org/wiki/Queen_discography'
# abrimos el archivo
df = pd.read_html(url)

In [115]:
# la función read_html importa un listado de tablas que serán dataframes
type(df)

list

In [117]:
len(df) # observo la longitud de esta lista

19

In [125]:
df[0] # llamo el primer elemento, en este caso será nuestra primera tabla de la derecha de la web

    Queen discography  Queen discography.1
0                 NaN                  NaN
1       Studio albums                 15.0
2         Live albums                 10.0
3  Compilation albums                 15.0
4                 EPs                  2.0
5             Singles                 72.0
6   Soundtrack albums                  2.0
7            Box sets                 19.0
8      Other releases                  1.0

In [124]:
df[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   (Title, Title)                       16 non-null     object
 1   (Album details, Album details)       16 non-null     object
 2   (Peak chart positions, UK[9])        16 non-null     object
 3   (Peak chart positions, AUS[10])      16 non-null     object
 4   (Peak chart positions, AUT[11])      16 non-null     object
 5   (Peak chart positions, FRA[12][13])  16 non-null     object
 6   (Peak chart positions, GER[14])      16 non-null     object
 7   (Peak chart positions, JPN[15][16])  16 non-null     object
 8   (Peak chart positions, NLD[17])      16 non-null     object
 9   (Peak chart positions, NOR[18])      16 non-null     object
 10  (Peak chart positions, SWE[19])      16 non-null     object
 11  (Peak chart positions, US[20])       16 non-null     object
 12  (Certifications, Certifications)     16 non-null     object
dtypes: object(13)
memory usage: 1.8+ KB

In [126]:
df_2 = pd.read_html(url, match="Studio albums", na_values='--')
df_2

[    Queen discography  Queen discography.1
 0                 NaN                  NaN
 1       Studio albums                 15.0
 2         Live albums                 10.0
 3  Compilation albums                 15.0
 4                 EPs                  2.0
 5             Singles                 72.0
 6   Soundtrack albums                  2.0
 7            Box sets                 19.0
 8      Other releases                  1.0,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteQueen  \
 0   Brian May Roger Taylor Freddie Mercury John De...
 1                                       Studio albums
 2                                         Live albums
 3                                        Compilations
 4                                            Box sets
 5                                      Extended plays
 6                                         Soundtracks
 7                                         Videography
 8                                               Tours
 9                                            Tributes
 10                                   Related articles
 11                                     Book  Category

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteQueen.1
 0   Brian May Roger Taylor Freddie Mercury John De...
 1   Queen Queen II Sheer Heart Attack A Night at t...
 2   Live Killers Live Magic At the Beeb Live at We...
 3   Greatest Hits Greatest Hits II Classic Queen T...
 4   The Complete Works Queen CD Single Box Box of ...
 5                     Five Live (with George Michael)
 6                      Flash Gordon Bohemian Rhapsody
 7   We Will Rock You Live in Rio Queen at Wembley ...
 8   Queen I Tour Queen II Tour Sheer Heart Attack ...
 9   One Night of Queen Queen at the Ballet Queen E...
 10  Discography Songs Awards and nominations Live ...
 11                                     Book  Category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ]

In [5]:
# Otra alternativa para extraer datos de un CSV
url2 = 'https://github.com/mattharrison/datasets/blob/master/data/anscombes.csv'
df = pd.read_html(url2, attrs={'class' : 'csv-data'})

In [9]:
len(df)

1

In [11]:
df[0]

    Unnamed: 0 quadrant     x      y
0          NaN        I  10.0   8.04
1          NaN        I  14.0   9.96
2          NaN        I   6.0   7.24
3          NaN        I   9.0   8.81
4          NaN        I   4.0   4.26
5          NaN        I  12.0  10.84
6          NaN        I  13.0   7.58
7          NaN        I   7.0   4.82
8          NaN        I   8.0   6.95
9          NaN        I   5.0   5.68
10         NaN        I  11.0   8.33
11         NaN       II  11.0   9.26
12         NaN       II   4.0   3.10
13         NaN       II   6.0   6.13
14         NaN       II   7.0   7.26
15         NaN       II   5.0   4.74
16         NaN       II  12.0   9.13
17         NaN       II  14.0   8.10
18         NaN       II  10.0   9.14
19         NaN       II   8.0   8.14
20         NaN       II   9.0   8.77
21         NaN       II  13.0   8.74
22         NaN      III  11.0   7.81
23         NaN      III  10.0   7.46
24         NaN      III   7.0   6.42
25         NaN      III  12.0   8.15
26         NaN      III   8.0   6.77
27         NaN      III  13.0  12.74
28         NaN      III   4.0   5.39
29         NaN      III   6.0   6.08
30         NaN      III  14.0   8.84
31         NaN      III   5.0   5.73
32         NaN      III   9.0   7.11
33         NaN       IV   8.0   8.84
34         NaN       IV  19.0  12.50
35         NaN       IV   8.0   5.76
36         NaN       IV   8.0   7.71
37         NaN       IV   8.0   7.04
38         NaN       IV   8.0   5.56
39         NaN       IV   8.0   6.58
40         NaN       IV   8.0   7.91
41         NaN       IV   8.0   8.47
42         NaN       IV   8.0   5.25
43         NaN       IV   8.0   6.89