# Ejercicios de Programación Resueltos

## Ejercicio 1

Calcule una función que determine si un año es bisiesto o no.
Recuerde que un año es bisiesto si es multiplo de 4 o es multiplo de 400.
Es decir, los años 1700, 1800 o 1900 son divisbles por 4 divisibles pero no divisbles por 400.
En cambio, los años 1600 o 2000 son divisbles por 4 divisibles y divisbles por 400.

In [7]:
# Creamos una función en la que se cumplan las condiciones para que un año sea bisiesto: divisible por 4 y por 400, pero no por 100
def bisiesto(anyo):
    if anyo % 4 == 0 and (anyo % 100 != 0 or anyo % 400 == 0):
        print(f'{anyo} es bisiesto')
    else:
        print(f'{anyo} no es bisiesto')

In [31]:
# Comprobamos introduciendo años que sabemos que son bisiestos:
bisiesto(2020)

2020 es bisiesto

## Ejercicio 2

Escriba la función que dada una cantidad de dinero calcule el desglose en billetes y monedas, empezando por el billete mayor al menor y contemabldo solo las monedas de 2€ y 1€. Por ejemplo, para la cantidad de dinero, 1378€
* 2 billetes de 500€
* 1 billete  de 200€
* 1 billete  de 100€
* 1 billete  de  50€
* 1 billete  de  20€
* 1 billete  de   5€
* 1 moneda   de   2€
* 1 moneda   de   1€

In [72]:
# Importamos la librería 'math', que vamos a utilizar para redondear los valores al entero menor
import math

In [79]:
# Creamos una función que vaya dividiendo la cantidad introducida por los valores de los billetes o monedas y restando el valor entero resultante multiplicado por su valor:
def desglose_billetes(cantidad):
    tipos_billetes = [500, 200, 100, 50, 20, 10, 5, 2, 1]
    for billete in tipos_billetes:
        num_billetes = int(math.floor(cantidad / billete))
        if num_billetes > 1 and billete > 3:
            print(f'{num_billetes} billetes de {billete}€')
        elif num_billetes == 1 and billete > 3:
            print(f'{num_billetes} billete de {billete}€')
        elif num_billetes > 1 and billete < 3:
            print(f'{num_billetes} monedas de {billete}€')
        elif num_billetes == 1 and billete < 3:
            print(f'{num_billetes} moneda de {billete}€')
        cantidad = cantidad - (num_billetes * billete)

In [80]:
desglose_billetes(1378)

2 billetes de 500€
1 billete de 200€
1 billete de 100€
1 billete de 50€
1 billete de 20€
1 billete de 5€
1 moneda de 2€
1 moneda de 1€

## Ejercicio 3

Un banco está intersado en llevar el registro de clientes que solicitan una extracción de dinero de un cajero, para ello el cliente debe introducir la cantidad de dinero a extraer del cajero y éste le devolverá el desglose de dicha cantidad en billetede de 200 a 10 euros. 

Al finalizar la opreación, se debe quedar en un fichero de registro una traza de los billetes dispensado al cliente junto con su nombre, sus apellidos y la *hora local* en el que se realizó dicha operacion. Guarda el fichero en el formato que más comodo te resulte.

Por ejemplo, para la cantidad de dinero, 370€
* 1 billete  de 200€
* 1 billete  de 100€
* 1 billete  de  50€
* 1 billete  de  20€

In [9]:
# Importamos las librerías que vamos a utilizar
from datetime import datetime
import pandas as pd
import math

In [10]:
# Creamos una tabla en la que almacenar los datos facilitados por el cliente
datos = pd.DataFrame(columns = ['Nombre', 'Fecha', 'Hora', 'Cantidad', '200€', '100€', '50€', '20€', '10€'],
                    index = range(10))

In [11]:
# Pedimos al cliente su nombre y apellidos para poder registrarlo y colocamos el dato en la primera línea de la tabla
nombre = input('Introduzca su nombre y apellidos: ')
datos.loc[[0],['Nombre']] = nombre

Introduzca su nombre y apellidos:  Rodrigo de la Plaza García

In [12]:
# Registramos la fecha y hora en la que se realiza la operación:
fecha = datetime.now().strftime("%d/%m/%Y")
hora = datetime.now().strftime("%H:%M:%S")
datos.loc[[0],['Fecha']] = fecha
datos.loc[[0],['Hora']] = hora

In [13]:
# Pedimos al cliente la cantidad de dinero que desea extraer
cantidad = float(input('Introduzca la cantidad de dinero que quiere extraer: '))
datos.loc[[0],['Cantidad']] = cantidad

Introduzca la cantidad de dinero que quiere extraer:  370

In [14]:
# Ajustamos la función del ejercicio anterior para que solamente facilite billetes entre 10 y 200 €
def desglose_billetes_cajero(cantidad):
    tipos_billetes = [200, 100, 50, 20, 10]
    for billete in tipos_billetes:
        num_billetes = int(math.floor(cantidad / billete))
        if num_billetes > 1:
            print(f'{num_billetes} billetes de {billete}€')
        elif num_billetes == 1:
            print(f'{num_billetes} billete de {billete}€')
        cantidad = cantidad - (num_billetes * billete)

In [15]:
# Facilitamos al cliente el desglose de la cantidad solicitada
desglose = desglose_billetes_cajero(cantidad)

1 billete de 200€
1 billete de 100€
1 billete de 50€
1 billete de 20€

In [16]:
# Ajustamos de nuevo la función para cargar los datos en la tabla
def extraccion_billetes_cajero(cantidad):
    tipos_billetes = [200, 100, 50, 20, 10]
    for billete in tipos_billetes:
        num_billetes = int(math.floor(cantidad / billete))
        datos.loc[[0],[f'{billete}€']] = num_billetes
        cantidad = cantidad - (num_billetes * billete)

In [17]:
# Ejecutamos la función de carga de datos
extraccion_billetes_cajero(cantidad)

In [18]:
# Comprobamos que la carga se ha realizado de forma correcta
datos

,Nombre,Fecha,Hora,Cantidad,200€,100€,50€,20€,10€
0,Rodrigo de la Plaza García,11/01/2021,16:27:33,370,1,1,1,1,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Guardamos la tabla en un archivo *.csv como registro, forzando la codificación a 'utf-8'
datos.to_csv("datos_cajero.csv", encoding='utf-8')